<!DOCTYPE html>

<html>
<head>
    <script>

        function showMessage() {
            window.external.SayHello('teste');
        }
    </script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        body {
            font-family: "ArtifaktElement";
            font-size: 14px;
        }
        h2{
            font-size: 20px;
        }
        div {
            margin-top: 1em;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body >
    <h2>Use package nodes</h2>
    <img src="./Images/PackageResoursesImage.png" />
    <div>To learn how to use nodes in a package, hover over a node to see a description.</div>
    <div>To add a node to the workspace, click its name in the list.</div>
</body>

</html>
<script>    
    var new_font = new FontFace('ArtifaktElement', 'url(../../../UI/Fonts/Autodesk/Artifakt-Element-Regular.otf)')
    new_font.load().then(function (loaded_face) {
        document.fonts.add(loaded_face)
    }).catch(function (error) {
        console.log(error)
    });

    function Teste() {
        document.body.style.backgroundColor = "red";
    }
</script>